apiVersion: v2
kind: ServiceMonitor
metadata:
  name: spring-hello-monitor
  namespace: default
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: spring-hello
  endpoints:
  - port: http
    path: /actuator/prometheus
    interval: 30s
  namespaceSelector:
    matchNames:
    - default  # Changez cela si votre service est dans un autre namespace
